In [1]:
import pandas as pd
import numpy as np

In [2]:
price_df = pd.read_csv('price_pivot.csv')
qty_df = pd.read_csv('qty_pivot.csv')

In [3]:
price_df.head()

         date          A          B          C          D          E
0  2022-08-28  54.500000  50.840000  29.920000  21.286667  31.943333
1  2022-08-29  54.870000  39.526667  34.060000  42.946667  22.993333
2  2022-08-30  54.483333  40.183333  32.520000  40.583333  26.693333
3  2022-08-31  52.096667  41.420000  32.293333  31.693333  26.850000
4  2022-09-01  51.770000  43.150000  36.340000  46.303333  31.306667

In [4]:
qty_df.head()

         date        A      B      C     D      E
0  2022-08-28  300.922   63.0   79.0  42.0  187.0
1  2022-08-29  373.880  135.0  178.0  39.0  414.0
2  2022-08-30  332.346  146.0  174.0  44.0  398.0
3  2022-08-31  395.705  149.0  188.0  56.0  420.0
4  2022-09-01  505.785  140.0  181.0  60.0  431.0

In [5]:
len(price_df) == len(qty_df)

True

In [42]:
qty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    761 non-null    object
 1   A       761 non-null    float64
 2   B       761 non-null    float64
 3   C       761 non-null    float64
 4   D       761 non-null    float64
 5   E       761 non-null    float64
dtypes: float64(5), object(1)
memory usage: 35.8+ KB

In [44]:
price_df['A'][1:]

1       54.870000
2       54.483333
3       52.096667
4       51.770000
5       51.726667
          ...
756    132.542500
757    133.070000
758    130.175000
759    130.682500
760    130.585000
Name: A, Length: 760, dtype: float64

In [48]:
#check the covariance between price and quantity
l=[]
products = list(price_df.columns[1:])
for i in range(len(products)):
    cov = np.cov(qty_df[products[i]][:-1], price_df[products[i]][1:])
    l.append(cov[0][1])
    print('Covariance between demand and price for {} is {}'.format(products[i], cov[0][1]))

Covariance between demand and price for A is 1135.929390774091
Covariance between demand and price for B is -59.94583201147633
Covariance between demand and price for C is -75.217607149874
Covariance between demand and price for D is 8.079704104835546
Covariance between demand and price for E is -72.3057647152301

In [56]:
#correlation between price and quantity
l = []  
products = list(price_df.columns[1:])
for i in range(len(products)):
    corr = np.corrcoef(qty_df[products[i]], price_df[products[i]])
    l.append(corr[0][1])
    print('Correlation between demand and price for {} is {}'.format(products[i], corr[0][1]))

Correlation between demand and price for A is 0.2957153797133746
Correlation between demand and price for B is -0.4755523348398585
Correlation between demand and price for C is -0.48097887416226
Correlation between demand and price for D is 0.0010131692529479269
Correlation between demand and price for E is -0.48972347878805583